LOCAL_CONTENT_ROOT=/path/to/your/content-repo

# 如果三个目录不在同一个根目录下，可以单独覆盖
# LOCAL_NOVELS_DIR=/path/to/your/novels
# LOCAL_IMAGES_DIR=/path/to/your/images
# LOCAL_MUSICS_DIR=/path/to/your/media

# example:

# LOCAL_CONTENT_ROOT=.

# LOCAL_NOVELS_DIR=./novels
# LOCAL_IMAGES_DIR=./images
# LOCAL_MUSICS_DIR=./media
